.cart-page {
  .cart {
    @apply py-4;

    &__title {
      @apply mb-4 font-semibold text-2xl;
    }

    &__empty {
      @apply text-center mt-4 max-w-3xl mx-auto;

      &-image {
        padding-block-start: 75%;
        @apply w-full relative;
      }

      h5 {
        @apply text-xl mb-4 font-semibold;
      }
    }

    .products {
      max-height: 600px;
      @apply w-full overflow-x-auto;
      &-table {
        @apply w-full border-collapse;

        &__product {
          min-width: 375px;
          @apply w-5/12;
        }

        &__price,
        &__quantity,
        &__subtotal {
          min-width: 150px;
          @apply w-2/12;
        }

        &__delete {
          min-width: 75px;
          @apply w-1/12 text-gray-400;
          .button {
            @apply p-0;
          }
        }

        thead {
          @apply text-left;
          th {
            @apply pt-2 pb-3 text-base sticky top-0 bg-white z-50 font-medium;
          }
        }

        tbody {
          .products-table__product {
            .product {
              @apply p-0;
              &__details {
                .product__name {
                  @apply text-sm;
                }
              }
            }
          }

          td {
            @apply border-t border-gray-300 text-sm;
          }
        }

        tbody td,
        thead th {
          @apply py-4;
          &:not(:first-child) {
            @apply pl-2;
          }
        }
      }
    }

    .summary {
      @apply w-full border border-gray-300 p-4 rounded;
      &__title {
        @apply text-base font-semibold mb-4;
      }

      &__price {
        @apply flex items-center justify-between text-sm;
        &:not(:first-of-type) {
          @apply mt-2;
        }
      }

      &__total {
        @apply font-semibold text-base;
      }

      &__button {
        @apply mt-4 w-full uppercase tracking-wider;
        &-icon {
          @apply ml-2;
        }
      }
    }
  }
}
