.home-page {
  .introduction {
    @apply relative mt-4;

    &__slide {
      height: 700px;
      @apply grid;

      &-image,
      &-content {
        grid-area: 1 /1;
      }

      &-image {
        img {
          @apply overflow-hidden rounded;
        }
      }

      &-content {
        @apply z-20 px-16 py-12 flex items-start flex-col justify-center font-sans;
        &-title {
          font-family: "Quicksand", sans-serif;
          @apply text-4xl text-gray-700 mb-6 md:text-7xl;
        }

        &-subtitle {
          font-family: "Quicksand", sans-serif;
          @apply text-2xl text-gray-500 mb-6 md:text-4xl;
        }

        &-form {
          .form__item {
            &-field {
              @apply mb-0;
            }
          }
        }
      }

      &-pagination {
        @apply w-4 h-4 bg-gray-200 inline-block rounded-full cursor-pointer transition-colors duration-300 hover:bg-gray-400;

        &.active {
          @apply bg-gray-400;
        }

        &:not(:first-child) {
          @apply ml-2;
        }
      }
    }

    &__navigation {
      @apply absolute top-1/2 -translate-y-1/2 left-0 w-full z-10 opacity-0 transition-opacity duration-300;

      &-item {
        @apply absolute w-10 h-10 flex items-center justify-center bg-gray-50 rounded-full cursor-pointer text-gray-500 transition-colors duration-300 hover:bg-gray-200 hover:text-gray-600;
        &:first-child {
          @apply left-4;
        }

        &:last-child {
          @apply right-4;
        }
      }
    }

    &:hover {
      .introduction__navigation {
        @apply opacity-100;
      }
    }
  }

  .services {
    @apply rounded border border-gray-300 p-4 relative;

    .navigation {
      @apply absolute top-1/2 transform -translate-y-1/2 z-50 text-3xl cursor-pointer text-gray-500 transition-colors duration-300 hover:text-gray-600;
      &.swiper-button-disabled {
        @apply text-gray-300 cursor-not-allowed;
      }

      &--prev {
        @apply left-10;
      }

      &--next {
        @apply right-10;
      }
    }
  }

  .top-sellers {
    @apply relative;

    .navigation {
      @apply absolute top-1/2 transform -translate-y-1/2 z-50 text-3xl cursor-pointer text-gray-400 transition-colors duration-300 hover:text-gray-600;
      &.swiper-button-disabled {
        @apply text-gray-300 cursor-not-allowed;
      }

      &--prev {
        @apply left-2;
      }

      &--next {
        @apply right-2;
      }
    }
  }

  .deals {
    @apply relative;

    .navigation {
      @apply absolute top-1/2 transform -translate-y-1/2 z-50 text-3xl cursor-pointer text-gray-400 transition-colors duration-300 hover:text-gray-600;
      &.swiper-button-disabled {
        @apply text-gray-300 cursor-not-allowed;
      }

      &--prev {
        @apply left-2;
      }

      &--next {
        @apply right-2;
      }
    }
  }

  .top-banners {
    .banner--custom {
      .banner__content {
        .banner__title {
          @apply text-white;
        }

        .banner__subtitle {
          @apply text-gray-300;
        }
      }
    }
  }

  .products {
    @apply relative;
    &__wrap {
      @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4;
    }
  }

  .bottom-banners {
    .banner--custom {
      .banner__content {
        .banner__title {
          @apply text-white;
        }

        .banner__subtitle {
          @apply text-gray-300;
        }
      }
    }
  }
}
