.product-page {
  min-height: inherit;
  @apply py-6 bg-gray-100;

  .card {
    &:not(:first-child) {
      @apply mt-4;
    }
  }

  .product-view {
    &__image-wrap {
      @apply flex flex-col;
    }

    &__thumbnail {
      padding-block-start: 100%;
      @apply relative w-full;
    }

    &__image-list {
      @apply flex items-center mt-4 space-x-2 w-full overflow-x-auto;
    }

    &__image {
      width: 5rem;
      height: 5rem;
      @apply relative cursor-pointer rounded overflow-hidden transition duration-300 flex-shrink-0;
      &.active {
        @apply border border-blue-500;
      }
    }

    &__title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      @apply text-lg capitalize tracking-wide mb-2;
    }

    &__price-wrap {
      @apply bg-gray-50 p-3 rounded my-4 w-full overflow-x-auto;
    }

    &__price {
      @apply text-2xl font-semibold text-red-500;
    }

    &__colors,
    &__sizes,
    &__quantity {
      @apply flex items-center mb-4;
      .colors__title,
      .sizes__title {
        @apply capitalize mr-2 w-14 flex-shrink-0;
      }

      .colors__select,
      .sizes__select {
        @apply space-x-2 flex items-center cursor-pointer w-full;
      }
    }

    &__quantity {
      .input-number {
        @apply mr-4;
      }
    }

    &__actions {
      .button {
        @apply max-w-xs w-full h-12 font-medium text-base justify-center text-lg;
      }
    }

    &__quantity {
      @apply flex items-center;
      .quantity__title {
        @apply mr-2;
      }
    }
  }

  .slides {
    @apply relative;

    &__navigation {
      @apply select-none absolute top-1/2 transform -translate-y-1/2 z-10 cursor-pointer text-lg transition-colors duration-300 text-gray-400 hover:text-gray-600;
      &--next {
        @apply right-4;
      }

      &--prev {
        @apply left-4;
      }
    }

    &.seller-wrap__slides {
      @apply border border-gray-300 rounded;
    }

    &.similar-products__slides {
      .slides__navigation {
        @apply text-2xl;
      }
    }
  }

  .seller-wrap {
    @apply mt-4;
    .seller {
      @apply mb-4;
    }
  }

  .similar-products {
    &__title {
      @apply text-xl font-medium tracking-wide mb-4;
    }

    .slides {
      .product {
        @apply p-0;
      }
    }
  }

  .details {
    &__title {
      @apply text-xl font-medium tracking-wide mb-4;
    }

    &__table {
      @apply border-collapse w-full max-w-full text-sm;
      tr {
        &:not(:first-child) {
          @apply border-t border-gray-300;
        }

        &:nth-child(odd) {
          @apply bg-gray-50;
        }

        &:nth-child(even) {
          @apply bg-gray-100;
        }

        td {
          @apply px-4 py-2.5;
          &:first-child {
            width: 150px;
            @apply bg-gray-200 border-r border-gray-300;
          }
        }
      }
    }
  }

  .product-description {
    &__title {
      @apply text-xl font-medium tracking-wide mb-4;
    }
  }

  .customer-review {
    &__title {
      @apply text-xl font-medium tracking-wide mb-4;
    }

    &__top {
      @apply pb-6;
    }

    .review-rating {
      @apply flex flex-col items-center;
    }

    .review-images {
      &__title {
        @apply text-lg font-medium mb-2;
      }

      &__item {
        @apply w-32 h-32 rounded-md mr-4 relative overflow-hidden;
      }

      .swiper-slide {
        @apply w-auto;
      }
    }

    .review-comment {
      @apply py-6 border-t border-gray-300;

      &__user {
        @apply md:pl-4;

        &-inner {
          @apply flex items-center;
        }

        &-avatar {
          @apply mr-2;
        }

        &-name {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          @apply text-sm font-medium capitalize overflow-ellipsis overflow-hidden;
        }

        &-date {
          @apply text-xs text-gray-400;
        }

        &-info {
          @apply flex items-center text-xs text-gray-400 mt-3;
          & > svg {
            @apply mr-2;
          }

          & > span {
            @apply ml-1 text-gray-600;
          }
        }
      }

      &__content-wrap {
        .stars {
          @apply mb-2 text-sm;
        }
      }

      &__content {
        @apply text-sm mb-2;
      }

      &__images {
        @apply flex items-center overflow-x-auto space-x-4;
      }

      &__image {
        @apply w-36 h-36 rounded-md relative flex-shrink-0 overflow-hidden;
      }

      &__created-date {
        @apply text-xs mb-4 mt-2 text-gray-500;
      }

      &__attributes {
        @apply flex items-center space-x-2;
      }

      &__thank {
        @apply px-6 font-medium;

        .button__content {
          @apply flex items-center gap-x-2;
        }
      }
    }
  }
}
