.seller-page {
  min-height: inherit;
  @apply bg-gray-100 py-6;

  &__info {
    .section-seller-overview {
      &__leading {
        @apply relative p-4 rounded overflow-hidden;

        &-mask {
          @apply absolute inset-0 bg-gray-900 bg-opacity-30;
        }

        &-content {
          @apply relative z-10;
          .section-seller-overview__seller-portrait {
            @apply flex space-x-4;

            &-info {
              @apply w-full;
            }

            &-name {
              @apply text-white text-xl truncate overflow-ellipsis mt-2;
            }
          }
        }
      }

      &__info-list {
        @apply grid grid-cols-2 gap-2 h-full;
        .section-seller-overview__item {
          @apply flex items-center space-x-2 text-sm;
          &-icon {
            @apply text-gray-400 w-4;
          }

          &-text {
            @apply text-gray-600;
            & > span:nth-child(2) {
              @apply text-red-500;
            }
          }
        }
      }
    }
  }

  .sort-bar {
    row-gap: 1rem;
    @apply flex items-center text-sm flex-wrap w-full mt-4;
    &__label {
      @apply mr-4;
    }

    &__sort-options {
      row-gap: 0.75rem;
      @apply flex items-center flex-wrap;
    }

    &__sort-option {
      @apply px-4 py-2 rounded-sm mr-3 bg-gray-300 cursor-pointer transition-colors duration-300 select-none hover:bg-blue-500 hover:text-white;
      &.active {
        @apply bg-blue-500 text-white;
      }
    }
  }

  &__content {
    @apply mt-4;
  }
}
