.menu {
  @apply bg-white outline-none overflow-auto;
  &__item {
    @apply flex items-center p-3 cursor-pointer text-gray-500 transition-colors duration-300 hover:text-blue-600 hover:bg-gray-200;

    &-label {
      @apply flex-grow inline-flex items-center;

      & > * {
        @apply w-full;
      }
    }

    &-icon {
      @apply mr-2 flex-shrink-0;
    }
  }

  &__sub-menu {
    @apply w-full relative z-50;
    &-title {
      @apply p-3 flex items-center justify-between cursor-pointer text-gray-500 transition-colors duration-300 hover:text-blue-600 hover:bg-gray-200;
      .icon {
        @apply transition-transform duration-300 ml-2;
      }
      &--open {
        .icon {
          @apply transform rotate-180;
        }
      }
    }

    &-list {
      transition-property: max-height, opacity, visibility;
      z-index: 9999;
      @apply max-h-0 overflow-hidden opacity-0 invisible bg-white duration-300 ease-in-out rounded-sm;
      .menu__item {
        @apply pl-6;
      }

      &--open {
        max-height: 40rem;
        @apply opacity-100 visible;
      }

      &--portal {
        box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
          0 9px 28px 8px #0000000d;
        .menu__item {
          @apply p-3;
        }
      }
    }
  }
}
