.modal {
  @apply fixed w-full h-full inset-0 bg-transparent z-50;
  &__content {
    box-shadow: 0 0 0 10000px rgba($color: #000000, $alpha: 0.3);
    transition-property: opacity, visibility;
    max-width: min(900px, 100vw-100px);
    @apply absolute w-full invisible
      opacity-0 pointer-events-none duration-300 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
      bg-white p-5;
  }

  &__close {
    @apply absolute -top-8 right-0 w-6 h-6 rounded-full flex items-center justify-center text-white text-2xl cursor-pointer hover:text-red-400 transition-colors duration-300;
  }

  &--show {
    .modal__content {
      @apply visible opacity-100 pointer-events-auto;
    }
  }
}
