.modal {
  transition-property: visibility, opacity;
  max-width: 500px;
  max-height: 400px;
  box-shadow: 0 0 0 10000px rgba($color: #000000, $alpha: 0.3);
  @apply invisible pointer-events-none opacity-0 duration-300 w-full h-full bg-white fixed top-1/2 left-1/2 z-50 transform -translate-x-1/2 -translate-y-1/2 rounded;

  &--open {
    @apply visible pointer-events-auto opacity-100;
  }

  &__content {
    @apply p-6;
  }

  &__close {
    @apply absolute top-2 right-2 w-6 h-6 rounded-full flex items-center justify-center text-red-400 text-2xl cursor-pointer;
  }
}
